/* 
- General
- Hero
- about
- Interior Slider
- model
- Slider
- Footer
*/

//* General */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  font-family: raleway;
}

//* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .hero-img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo {
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 70px;
    width: 100px;
    margin: 10px 30px;
  }

  .pageheadernav {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: right;
  }

  .nav {
    display: inline-block;
    color: #ffff;
    margin: 30px 40px;
    font-family: Raleway;
  }

  .topnav li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .headertext {
    grid-column: 1/-1;
    grid-row: 1/-1;
    padding-top: 30px;
    text-align: center;
    color: #ffff;
    font-size: 3rem;
    align-self: center;
  }

  .btn_container {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/-1;
    align-self: center;
  }

  .btn_config,
  .btn_Buy {
    background-color: #45454d8a;
    padding: 15px 30px;
    color: #ffff;
    margin: 20px;
  }

  .btn_config {
    background-color: #ff0202aa;
    cursor: pointer;
  }

  .btn_Buy:hover {
    background-color: #ff0202aa;
    color: #fff;
  }
}

//* About */

.specification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211b4b;
  height: 150px;
}

.spec {
  color: #ffff;
  font-size: 1.3rem;
  padding: 0 15px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}


.infotext {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  align-items: center;
}

.aboutContent {
  margin: 15px 50px;
  font-size: 1.2rem;
}

.info__car {
  width: 100%;
  object-fit: cover;
}

//* Interior slider */

.interior {
  background-color: #211b4b;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .interiorSlider {
    grid-column: 2/-1;
    padding: 30px 10px;
  }

  .interiorContent {
    text-align: center;
    grid-row: 1/2;
    max-width: 800px;
    margin: 100px 40px;
    display: grid;
  }

  .interiorHeading {
    grid-column: 1/2;
    color: #fff;
  }

  .interiorText {
    color: #fff;
    grid-column: 1/2;
    font-size: 1.4rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.interiorNav {
  grid-column: 1/-1;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  cursor: pointer;

  .interiorMenu {
    color: #fff;
    padding: 0 30px;
  }
}

.interiorMenu:hover {
  color: #c9c1ff;
  text-decoration: underline;
}

//* Model */

canvas {
  background-color: #000000;
  background-size: cover;
}

//* Slider */

.sliderContainer {
  background-color: #000000;
  padding: 30px 0;

  .slide {
    display: flex;
    margin-top: 10px;
    max-width: 850px;
    height: 450px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .sliderHeading {
    color: #fff;
    text-align: center;
  }

  .sliderText {
    color: #fff;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.BtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  img {
    width: 65px;
    margin: 0 auto;
  }

  .btn {
    display: flex;
  }
}

//* Contact */

.contact {
  padding: 40px 0;
  background-color: #211b4b;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 40px;

  .contactBg {
    grid-column: 1/-1;
    object-fit: cover;
    width: 100%;
    max-width: 1200px;
  }

  .contactHeading {
    padding-bottom: 15px;
  }

  .contactContent {
    color: #fff;
    margin: 0 auto;
    max-width: 410px;
  }

  .form {

    input {
      display: flex;
      margin: 10px 0;
      width: 320px;
      height: 30px;
      outline: none;
      border: none;
      padding-left: 15px;
      border-radius: 9px;
    }

    .input-name {
      display: flex;
    }

    .contactSubmit {
      display: inline-block;
      padding: 10px 25px;
      background-color: #6292f98a;
      color: #fff;
      border: none;
      border-radius: 10px;
    }

    .contactSubmit:hover {
      background-color: #0829718a;
      border: 1px solid #6292f98a;
    }
  }
}

//* Footer */

.footer {
  background-color: #000000;
  height: 15vh;

  .footerLogo {
    padding: 15px;
    display: flex;
    margin: 0 auto;
    width: 120px;
  }

  .copyright {
    color: #fff;
    text-align: center;
  }
}

//* Tablet 769px*/

@media only screen and (max-width: 769px) {

  //* Hero */

  .logo {
    height: 50px;
    width: 80px;
  }

  .nav {
    margin: 30px 20px;
  }

  .headertext {
    grid-column: 1/-1;
    grid-row: 1/-1;
    padding-top: 30px;
    font-size: 3rem;
    align-self: center;
  }

  .btn_container {
    grid-row: 3/-1;
  }

  //* About */

  .infotext {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .aboutContent {
    margin: 15px 5px;
    font-size: 1.2rem;
  }

  .info__car {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  //* Interior slider */

  .interior {

    .interiorSlider {
      padding: 30px 10px;
    }

    .interiorContent {
      max-width: 400px;
      margin: 20px 4px;
    }

    .interiorText {
      padding-top: 10px;
      font-size: 1rem;
    }

    .interiorHeading {
      font-size: 25px;
      padding-top: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .interiorNav {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    cursor: pointer;

    .interiorMenu {
      color: #fff;
      padding: 0 30px;
    }
  }

  .interiorMenu:hover {
    color: #c9c1ff;
    text-decoration: underline;
  }

  //* Slider */

  .sliderContainer {
    .slide {
      width: 100%;
    }

    .sliderHeading {
      font-size: 25px;
    }

    .sliderText {
      max-width: 500px;
    }
  }

  .BtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    img {
      width: 45px;
      margin: 0 auto;
    }
  }

  //* Contact */
  .contact {
    padding: 40px 20px;
  }
}

//* SmartPhone 426px*/
@media only screen and (max-width: 426px) {

  //* Hero */

  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    .headertext {
      padding-top: 0px;
      font-size: 18px;
    }

    .logo {
      height: 40px;
      width: 60px;
      margin: 5px 15px;
    }

    .nav {
      margin: 15px 5px;
    }

    .topnav {
      font-size: 12px;
    }



    .btn_container {
      grid-row: 2/-1;
    }

    .btn_config,
    .btn_Buy {
      padding: 10px 20px;
    }

  }

  //* About */

  .specification {
    height: 80px;
  }

  .spec {
    color: #ffff;
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .infotext {
    margin-top: 30px;
    font-size: 1rem;
  }

  .aboutContent {
    margin: 15px 10px;
    font-size: 1rem;
  }

  //* Interior slider */

  .interior {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    .interiorSlider {
      grid-column: 1/-1;
      padding: 10px;
    }

    .interiorHeading {
      grid-column: 1/-1;
      grid-row: 2/-1;
    }

    .interiorContent {
      text-align: left;
      grid-column: 1/-1;
      grid-row: 2/3;
      max-width: 380px;
      margin: 0px 20px;
    }

    .interiorText {
      grid-column: 1/-1;
      font-size: 1rem;
    }
  }

  .interiorNav {
    grid-column: 1/-1;
    grid-row: 3/-1;
    margin: 15px 0;

    .interiorMenu {
      padding: 0 5px;
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  //* Slider */

  .sliderContainer {
    padding: 10px 0;

    .slide {
      max-width: 450px;
      height: 100%;
      margin: 15px auto;
      padding-top: 25px;
    }

    .sliderHeading {
      font-size: 1.5rem;
      margin: 10px 0;
    }

    .sliderText {
      max-width: 380px;
    }
  }

  .BtnContainer {
    margin: 20px 0;

    img {
      width: 35px;
    }
  }

  //* Contact */

  .contact {
    padding: 15px 10px;
    gap: 10px;

    .contactContent {
      max-width: 410px;
    }

    .form {
      input {
        width: 180px;
        height: 30px;
        padding-left: 15px;
      }

      .contactSubmit {
        padding: 10px 55px;
      }
    }
  }

  //* Footer */

  .footerLogo {
    padding: 15px;
    width: 90px;
  }

  .copyright {
    font-size: 14px;
  }
}

//* SmartPhone 376px*/

@media only screen and (max-width: 376px) {

  //*Hero*/
  .headertext {
    font-size: 1rem;
  }

  //* Interior slider */
  .interiorSlider {
    grid-column: 1/-1;
    padding: 10px;
  }

  .interiorContent {
    max-width: 340px;
  }

  .interiorNav {
    margin: 15px 0;

    .interiorMenu {
      font-size: 1.2rem;
    }
  }

  .contact {
    padding: 20px 5px;
    grid-template-columns: 1fr;

    .contactHeading {
      padding-bottom: 15px;
    }

    .contactContent {
      max-width: 300px;
    }

    .form {
      input {
        margin: 10px 0;
        width: 100%;
        padding-left: 15px;
        border-radius: 9px;
      }
    }
  }
}

//* SmartPhone 321px*/
@media only screen and (max-width: 321px) {

  //* Hero */
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);


    .logo {
      height: 25px;
      width: 40px;
    }

    .headertext {
      font-size: 1.1rem;
    }

    .btn_container {
      grid-row: 2/-1;
    }

    .btn_config,
    .btn_Buy {
      margin: 10px 5px;
      padding: 5px 5px;
    }

  }

  //* Interior slider */
  .interiorSlider {
    grid-column: 1/-1;
    padding: 10px;
  }

  .interiorContent {
    max-width: 300px;
  }

  .interiorNav {
    margin: 15px 0;

    .interiorMenu {
      font-size: 1rem;
    }
  }

  //* Contact */

  .contact {
    padding: 20px 5px;
    grid-template-columns: 1fr;

    .contactHeading {
      padding-bottom: 15px;
    }

    .contactContent {
      max-width: 300px;
    }

    .form {
      input {
        margin: 10px 0;
        width: 100%;
        padding-left: 15px;
        border-radius: 9px;
      }
    }
  }
}